{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
      <h1 class="heading-xlarge">Easy Read: check if you are employed or self-employed for tax</h1>

      <h2 class="heading-large">How you pay tax</h2>
      <div class="grid-row">
        <div class="column-one-third">
          <img src="https://placekitten.com/465/310" alt="kittens">
        </div>

        <div class="column-two-thirds">
          <p>How you pay tax depends on whether you are employed or self-employed.</p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-one-third">
          <img src="https://placekitten.com/465/310" alt="kittens">
        </div>

        <div class="column-two-thirds">
          <p>If you are employed, your employer takes tax from your pay and sends it to HMRC for you.</p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-one-third">
          <img src="https://placekitten.com/465/310" alt="kittens">
        </div>

        <div class="column-two-thirds">
          <p>If you are self-employed, you need to tell HMRC how much you earn on a <a href="#">Self Assessment tax return</a>. You will get a <a href="#">Self Assessment bill</a> if you owe any tax.</p>
        </div>
      </div>

      <h2 class="heading-large">Employed</h2>

      <div class="grid-row">
        <div class="column-one-third">
          <img src="https://placekitten.com/465/310" alt="kittens">
        </div>
        <div class="column-two-thirds">
          <p>You will usually be classed as employed if someone else decides how and when you do your work.</p>
        </div>
      </div>

      <h2 class="heading-large">Things that could mean you are employed</h2>

      <div class="grid-row">
        <div class="column-one-third">
          <img src="https://placekitten.com/465/310" alt="kittens">
        </div>
        <div class="column-two-thirds">
          <p>You work regular hours for one person or company.</p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-one-third">
          <img src="https://placekitten.com/465/310" alt="kittens">
        </div>
        <div class="column-two-thirds">
          <p>The person or company you work for sets the hours and place you must work.</p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-one-third">
          <img src="https://placekitten.com/465/310" alt="kittens">
        </div>
        <div class="column-two-thirds">
          <p>You get an employment contract for your work.</p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-one-third">
          <img src="https://placekitten.com/465/310" alt="kittens">
        </div>
        <div class="column-two-thirds">
          <p>You get paid time off work for things like holiday, sickness and maternity leave.</p>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-one-third">
          <img src="https://placekitten.com/465/310" alt="kittens">
        </div>
        <div class="column-two-thirds">
          <p>The person or company you work for pays for the materials or equipment you use to do your job.</p>
        </div>
      </div>
</main>
{% endblock %}
