{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>
      <span class="govuk-caption-xl">Easy read:</span>
      <span class="govuk-heading-xl">Check if you are employed or self-employed for tax</span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-column-two-thirds">
    <h2 class="govuk-heading-l">
      How you pay tax
    </h2>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>How you pay tax depends on if you are employed or self-employed.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>If you are employed, the person or company you work for takes tax from your pay and sends it to the government. </p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>If you are self-employed, you need to fill in a <a href="https://www.gov.uk/log-in-file-self-assessment-tax-return/register-if-youre-self-employed">Self Assessment tax return</a> to tell the government how much money you earned. </p> 
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>If you are self-employed and owe tax, you will get a <a href="https://www.gov.uk/pay-self-assessment-tax-bill">Self Assessment bill</a> you must pay.  </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-column-two-thirds">
    <h2 class="govuk-heading-l">
      Employed
    </h2>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You will usually be classed as employed if someone else decides how and when you do your work.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-column-two-thirds">
    <h3 class="govuk-heading-m">
      Things that could mean you are employed
    </h3>
  </div>
</div>
  
<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You work regular hours for one person or company.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>The person or company you work for sets the hours and place you must work.</p>
  </div>
</div>
      
<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You are paid for the amount of hours you work.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You get an <a href="https://www.gov.uk/employment-contracts-and-conditions">employment contract</a> for your work.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You get paid time off work for things like holiday, sickness and maternity leave.</p>
  </div>
</div>
    
<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>The person or company you work for pays for the materials or equipment you use to do your job. This could include things like uniforms, tools, work phones or computers. </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-column-two-thirds">
    <h2 class="govuk-heading-l">
      Self-employed
    </h2>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You will usually be classed as self-employed if you decide how and when you work.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-column-two-thirds">
    <h2 class="govuk-heading-m">
      Things that could mean you are self-employed
    </h2>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You can work for more than one client at the same time.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You do not have to do the work yourself. You can hire someone else to do the work for you.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You can choose the hours and place you work.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You can charge a fixed price for a job that does not depend on how long it takes do the work. </p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You decide how to do the work and fix any problems after you finish the job.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>You pay for the materials or equipment you use to do your job. This could include things like tools, work phones or computers.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-column-two-thirds">
    <h2 class="govuk-heading-l">
      How to get help
    </h2>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>If you need help to work out if you are employed or self-employed for tax, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/status-customer-service-team">contact HMRC</a>.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>HMRC can explain how you should pay tax for the work you do.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>f you need help to understand your rights at work, <a href="https://www.gov.uk/pay-and-work-rights">contact Acas</a>.</p>
  </div>
</div>

<div class="govuk-grid-row easy-read-section">
  <div class="govuk-grid-column-one-third">
    <img src="https://placekitten.com/465/310" alt="kittens">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>Acas gives free advice on pay and work rights.</p>
  </div>
</div>

{% endblock %}
